.carousel-container {
    position: absolute;
    top: 40rem;
    left: 10rem;
    width: 100%;

    max-width: 800px;
    margin: 40px auto;
    /* overflow: hidden; */
    border-radius: 10px;
}

.image-background {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
    position: relative;
}

.button {
    cursor: pointer;
}

.button:hover {}