.homepage-container {
    height: 200px;
    width: 800px;
    display: flex;
}

.homepage-item {}


.homepage-features {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 500px;
}

.homepage-feature-section {
    max-width: 800px;
    margin: 100px;
    display: block;
    /* width: 100%; */
}